#game2048 {
  position: fixed;
  top: 0;
  left:0;
}

.table {
  border: 2px solid green;
  border-collapse:separate;border-spacing:5px;
  display:table;

}

.row {
  display:table-row;
}

.cell {
  position: relative;
  left:0px;
  top: 0px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: white;
  background-color: #CCC;
}

.cell {
  width: 5vw;
  height: 5vw;
  font-size: 1.5vw;
}

@media screen and (max-width: 960px) {
  .cell {
    width: 25vw;
    height: 25vw;
    font-size: 7.5vw;
    background-color: red;
  }
}
